<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>滴滴工程</title>
		<link rel="shortcuticon" href="/favicon.ico" type="image/x-icon" />
		<!-- 引入压缩之后的css文件 -->
		<!-- <link href="css/mui.min.css" rel="stylesheet" /> -->

		<!-- 引入没有压缩的css文件 -->
		<link rel="stylesheet" href="../css/mui.css">
		<!-- 引入阿里的字体图标 -->
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_1578335_tts69uhygph.css">
		<style>
			.wrapper{
				padding: 25px;
			}
		</style>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>

		<style>
			.mui-bar-tab .mui-tab-item.mui-active {
				color: orange;
			}
			
		</style>
	</head>
	<body>
		<h1>这是一个影院的页面</h1>
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1578560_nqqokuqe1n.css"/>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="../index.html">
				<div class="iconfont icon-dianyingtubiao"></div>
				<div class="mui-tab-label">电影</div>
			</a>
			<a class="mui-tab-item mui-active">
				<div class="iconfont icon-yingyuan"></div>
				<div class="mui-tab-label">影院</div>
			</a>
			<a class="mui-tab-item" href="./zixuan.html">
				<div class="iconfont icon-zixun"></div>
				<div class="mui-tab-label">资讯</div>
			</a>
			<a class="mui-tab-item" href="./my.html">
				<div class="iconfont icon-wode"></div>
				<div class="mui-tab-label">我的</div>
			</a>
		</nav>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript">
		mui("body").on("tap","a",function(){
			document.location.href = this.href;
		})
	</script>
</html>
